[mariadb]
#
# Options for Audit Log
#
plugin_load_add 				= server_audit
server_audit_events 			= connect,query
server_audit_file_path			= '/var/log/mariadb'
server_audit_file_rotate_size 	= 1000000
server_audit_file_rotations 	= 9
server_audit_logging			= ON

#
# File Key Management Plugin 
#
# Used to encrypt Binary Log and the usersDB.users Table
#
encrypt_binlog=ON
plugin_load_add = file_key_management
file_key_management_filename = /var/lib/mysql/encryption/keyfile.enc
file_key_management_filekey = FILE:/var/lib/mysql/encryption/keyfile.key
file_key_management_encryption_algorithm = AES_CTR

#
# Encrypt tables 
#
innodb-encrypt-tables					= FORCE
innodb_encrypt_log 						= ON
innodb_encryption_threads 				= 4
innodb_encryption_rotate_key_age		= 0
innodb_default_encryption_key_id		= 2
innodb-tablespaces-encryption

#
# Options for Simple Password Check
#
plugin_load_add 						= simple_password_check
simple_password_check_digits 			= 1
simple_password_check_letters_same_case	= 1
simple_password_check_minimal_length	= 8	
simple_password_check_other_characters 	= 1
simple_password_check					= ON

#
# Options for the mysqld_safe launcher
#
[mysqld_safe]


[mysqld]
#
# Enable logging
#
log_error			= /var/log/mariadb/error.log
log_bin 			= /var/log/mariadb/mariadb-bin
max_binlog_size		= 10000000
expire_logs_days    = 5 

#
# Limitate connections
#
max_connections     = 100
max_user_connections= 10
wait_timeout        = 300
#max_connect_errors = 10

open-files-limit	= 8000


#
# Disable LOAD DATA 
#
local-infile		= 0


## Securing the Database with ssl option and certificates ##
## There is no control over the protocol level used. ##
##  mariadb will use TLSv1.0 or better.  ##
ssl
ssl-ca		= /var/lib/mysql/encryption/ssl/ca-cert.pem
ssl-cert	= /var/lib/mysql/encryption/ssl/server-cert.pem
ssl-key		= /var/lib/mysql/encryption/ssl/server-key.pem

#
# Activate 32 MB CACHE to store SELECT results. Invalidate the cached results of tables that have lock 
#
query_cache_type               = 1
query_cache_size               = 32M
query_cache_wlock_invalidate   = 1

# Security variables
skip_name_resolve              = 1 # Set to 1 if you do not trust your DNS or experience problems

#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

